@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Handlee;
}

/* gerais */
section{
    height: 100vh;
}

html, body{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.79);
    z-index: 999;
    position: fixed;
    width: 100vw;
    background-color: white;
}


/* logomarca */
#logomarca{
    display: flex;
    align-items: center;
}
#logomarca svg{
    margin-left: 10px;
    margin-right: 50px;
    width: 90px;
}
#logomarca h1{
    font-size: 35px;
}

/* navegação - menu*/
#navegacao{ 
    display: flex;
    align-items: center;
    margin-right: 15px;
}

#navegacao ul{
    display: flex;
}

#navegacao li{
    list-style: none;
}

#navegacao a{
    text-decoration: none;
    margin: 0 20px;
    font-size: 25px;
    color: black;
}

#Acessar{
    background-color:rgba(255, 199, 0, 1);
    padding: 5px 20px;
    border-radius: 20px;
}

/* epsaço de menu */

#Espaco_menu{
    height: 120px;
}

/* pagina inicial */
#principal_inicio{
    background-color: rgba(255, 199, 0, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#principal_inicio_texto {
    display: flex;
    height: 800px;
    width: 880px;
    overflow: hidden;
}

#principal_inicio_texto p{
    display: flex;
    margin: 0 30px;
    font-weight: 400;
    font-size: 40px;
    text-align: justify;
    line-height: 55px;
}

/* DEPOIMENTOS */

#depoimentos{
  background-color: #000;
}

#titulo_dep{
  color: rgba(255, 199, 0, 1);
  align-items: center;
}

#img_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

#img_text h2{
    font-size: 50px;
}

/* cartões do depoimento */
.container_cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt_depoimento{
    display: flex;
    padding: 20px;
    background-color: #FFDB5D;
    margin: 0 20px;
    width: 500px;
    max-height: fit-content;
    flex-direction: column; 
    border-radius: 25px;
    text-align: justify;
    align-items: center;
    font-size: 25px;
}

.txt_depoimento img{
    width: 175px;
    margin: 35px;
}

.p_dep{
    padding: 10px 25px;
    font-size: 35px;
}

/* Reuniões */
#reu_head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

#titulo_reu{
    font-size: 40px;
}

#img_text_reu{
    display: flex;
    font-size: 50px;
    margin: 0 10px;
}

#img_text_reu p{
    text-align: justify;
    max-width: 975px;
    margin: 0 200px;
}

#img_text_reu img{
    max-width: 900px;
    margin: 30px;
    margin-left: 70px;  
}

#link_reu a{
    color: #000;
    display: flex;
    background-color:#FFDB5D;
    padding: 5px 20px;
    margin: 0 500px 15px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    text-decoration: none;
}

/* Historias */

#historia{
    background-color: #FFC700;
    
}

#hist_head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}

#hist_text{
    display: flex;
    align-items: center;
    justify-content: center;
}

#hist_text img{
    padding: 15px 0;
    width: 1200px;
    margin: 25px;
}

#hist_text p{
    font-size: 45px;
    text-align: justify;
    max-width: 700px;
    margin: 0 25px;
}


/* BARRA DE NAVEGAÇÃO ALT - LOGGED IN */

#logPFP {
    width: 70px;
    height: 70px;
}

/* DEPOIMENTO ALT - LOGGED IN */

#linkDep a{
    color: #000;
    display: flex;
    background-color:#FFF;
    padding: 5px 20px;
    margin: 25px 500px 15px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    text-decoration: none;
}

/* HISTOIRA ALT - LOGGED IN */

#linkHist a{
    color: #000;
    display: flex;
    background-color:#FFDB5D;
    border-radius: 20px;
    justify-content: center;
    font-size: 45px;
    text-decoration: none;
    margin: 0 190px 0 1390px;
    padding: 0 10px ;
}

/* DEPOIMENTOS ALT - LOGGED IN*/

#dep_text_head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}   

#dep_textA{
    background-color: #000;
}

#editor_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#editor_back{
    color: #000;
    border: 2px solid #FFC700;
    box-shadow: #FFC700;
    padding: 10px;
    z-index: 5;
    width: 1500px;
    height: 600px;
    max-height: 700px;
    font-size: 30px;
}

#enviar{
    color: black;
    text-decoration: none;
    background-color: #FFC700;
    border-radius: 15px;
    padding: 5px;
    margin-left: 1965px;
    font-size: 35px;
}

/* HISTORIAS ALT - LOGGED IN */

#hist_text_head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

#titulo_hist{
    font-size: 55px;
}
#hist_textA{
    background-color:#FFC700 ;
}

#editor_div_hist{
    display: flex;
    align-items: center;
    justify-content: center;
}

#editor_back_hist{
    color: #000;
    border: 2px solid #000;
    box-shadow: #000;
    padding: 10px;
    z-index: 5;
    width: 1500px;
    height: 600px;
    max-height: 700px;
    font-size: 30px;
}

#enviar_hist{
    color:#FFC700;
    text-decoration: none;
    background-color: #000;
    border-radius: 15px;
    padding: 5px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 900px;
}

input[type="file"]{
    display: none;
}

#label_env{
    color: white;
    font-size: 35px;
    background-color: #000;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 10px 900px;
    align-items: center;
}